@charset "utf-8";

/*webfont import*/

@font-face {
    font-family: 'grand_hotelregular';
    src: url('../fonts/grandhotel-regular-webfont.eot');
    src: url('../fonts/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/grandhotel-regular-webfont.woff2') format('woff2'),
         url('../fonts/grandhotel-regular-webfont.woff') format('woff'),
         url('../fonts/grandhotel-regular-webfont.ttf') format('truetype'),
         url('../fonts/grandhotel-regular-webfont.svg#grand_hotelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
  url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*reset styles*/

/*general styles*/

body {
  padding-top: 28px;
  padding-bottom: 140px;
  font-family: 'robotoregular';
  font-size: 16px;
  line-height: 1.6;
}

/*typography*/

/*mobile first start*/

  /*header styles ---------------------*/

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.black-bar {
  background: #000;
  height: 48px;
}

.black-bar.tiny {
  height: 36px;
}

.black-bar li {
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.black-bar li:last-child {
  padding-left: 5px;
}

.black-bar.tiny li {
  padding-top: 4px;
}

.fa-lg {
  transition: height 200ms;
}

.black-bar.tiny .fa-lg {
  font-size: 1em;
}

.black-bar img {
  height: 30px;
}

.black-bar.tiny img {
  height: 24px;
  transition: height 200ms;
}

.search-form > .search-input, .search-submit {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  height: 30px;
  box-sizing: border-box;
  transition: height 100ms;
}

.black-bar.tiny .search-form > .search-input,
.black-bar.tiny .search-form > .search-submit {
  height: 24px;
  font-size: 13px;
}

.search-input {
  width: 105px;
  margin-right: -3px;
}

.search-submit {
  margin-left: -2px;
}

.main-header {
  background: url("../assets/header-img.jpg") no-repeat center;
  background-size: cover;
  min-height: 240px;
  max-width: 100%;
}

.blue-bar {
  min-height: 52px;
  background: #00467F;
  color: #fff;
  top: 48px;
  transition: height 300ms;
}

.blue-bar.tiny {
  top: 36px;
  min-height: 40px;
}

.navbar-nav {
  margin: 36px 0px 16px -20px;
  transition: margin 300ms;
}

.blue-bar.tiny .navbar-nav {
  margin: 0px 0px 16px -20px;
}

.navbar-brand {
  padding: 0px 15px;
}

.navbar-brand > img {
  height: 90px;
  transition: height 200ms;
}

.main-nav-collapse {
  overflow: hidden;
}

.blue-bar.tiny .navbar-brand > img {
  height: 50px;
}

.blue-bar li > a {
  color: #fff;
  line-height: 0;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blue-bar li > a:hover,
.blue-bar li > a:focus {
  background: none;
}

.navbar-toggle {
  margin-top: 6px;
  margin-right: 10px;
  margin-bottom: 6px;
}

.navbar-toggle .icon-bar {
  background: #fff;
  width: 24px;
  height: 3px;
}

.nav>li {
  padding-top: 14px;
}

.header-title {
  font-family: 'grand_hotelregular';
  color: #fff;
  padding-top: 108px;
  font-size: 36px;
  text-shadow: 2px 2px 8px #000000;
}

#accordion{
  width:400px;
  position:absolute;
  bottom:0;
 }

.call-to-action {
  background: #042848;
  color: #fff;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.call-to-action label {
  font-weight: normal;
}

.call-to-action .form-group {
  margin-bottom: 5px;
}

.call-to-action .form-control,
.form-control.contact-submit {
  border-radius: 6px;
}

.call-to-action .newsletter-input {
  width: 100%;
  color: #E3E3E3;
  border: none;
  font-weight: bolder;
}

.call-to-action .newsletter-submit,
.contact-submit {
  width: 100%;
  background: #00B050;
  color: #fff;
  border: none;
  font-weight: bolder;
}

.call-to-action .newsletter-input,
.newsletter-submit {
  height: 42px;
  margin-top: 5px;
}


  /*home main styles ---------------------*/

.docs {}

.docs-title {
  line-height: 0;
  margin-top: 8px;
}

/*! fileicon.css v1.0.0 | MIT License | github.com/picturepan2/fileicon.css */
/* fileicon.basic */
.file-icon {
  font-family: FontAwesome;
  font-weight: 300;
  display: block;
  width: 64px;
  height: 84px;
  background: #018fef;
  position: relative;
  border-radius: 2px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

.file-icon::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom-left-radius: 4px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff #fff rgba(255,255,255,.35) rgba(255,255,255,.35);
}

.file-icon::after {
  display: block;
  position: absolute;
  bottom: 13px;
  left: 15px;
  font-size: 28px;
  color: #fff;
  text-transform: lowercase;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.file-icon-docs.file-icon::after {
  content: "\f039";
}

.file-icon-photos.file-icon::after {
  content: "\f030";
}

.file-icon-docs {
  background: #0F9D58;
}

.file-icon-photos {
  background: #D24726;
}

.docs-description {
  display: table-cell;
  padding-top: 10px;
}

.news-excerpt {
  display: table-cell;
}

.multimedia {
  background: #EBEBE9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-section-top,
.margin-section-bottom {
  margin: 40px 0;
}

.news-title,
.multimedia,
.special-content,
.es-info-description {
  margin-bottom: 40px;
}

.main-header,
.docs-item,
.news-item,
.special-content-img,
.es-info-title,
.es-info-thumb {
  margin-bottom: 20px;
}

.docs-img,
.news-thumb {
  margin-right: 20px;
}

.embed-map iframe {
  border: 0;
  margin: 0;
  padding: 0;
}

.embed-overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 260px;
  top: 260px;
  margin-top: -260px;
}

/*single styles ---------------------*/

.single-meta,
.single-author {
  color: #777;
}

h2.single-title {
  font-size: 24px;
  display: block;
}

small.single-excerpt {
  color: #555;
  display: block;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 10px;
}

.single-entry {
  margin: 20px 0 0 0;
}

p.single-entry {
  font-size: 14px;
}

.single-image figcaption {
  background: #ACD4F1;
  color: #00467F;
  font-size: 14px;
  padding: 5px 10px;
}

  /*footer styles*/

.footer-contact {
  background: #485985;
  color: #fff;
}

.footer-container, .footer-info {
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-control {
  border-radius: 2px;
}

.contact-title {
  font-weight: bolder;
  margin-bottom: 20px;
}

.contact-info {
  line-height: 2;
}

.contact-social-icons {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #485985;
}

.contact-social-icons > li {
  padding-right: 2px;
  padding-left: 2px;
}

.contact-form {
  margin-bottom: 10px;
}

.contact-input-name,
.contact-input-email {
  float: none;
  width: 100%;
}

.contact-submit {
  width: 40%;
}

.footer-credit {
  background: #161827;
  color: #fff;
}

.copyright-info {}

#top-link-block.affix-top {
  position: absolute;
  bottom: -82px;
  right: 15px;
}
#top-link-block.affix {
  position: fixed;
  bottom: 18px;
  right: 15px;
  z-index: 1040;
}

/*mobile first end ----------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /*header styles*/

  .navbar-nav {
    margin: 14px 10px;
  }

  .black-bar li:last-child {
    padding-left: 40px;
  }

  .navbar-brand > img {
    height: 80px;
  }

  .blue-bar.tiny .navbar-brand > img {
    height: 60px;
  }

  .main-header {
    min-height: 640px;
  }

  .nav>li {
    padding-top: 0px;
  }

  .nav>li::after {
    content: " |";
  }

  .header-title {
    color: #fff;
    padding-top: 72px;
    font-size: 56px;
  }

  .quick-bar {
    bottom: 80px;
  }

  .quick-bar .panel {
    margin-bottom: 0;
    border-radius: 0;
    background: transparent;
    border: none;
  }

  .quick-bar .panel-title {
    font-size: 14px;
  }

  .quick-bar .panel-heading {
    padding: 10px 6px;
    border-radius: 0;
  }

  .quick-bar .panel-body {
    background: rgba(0, 0, 1, 0.5);
    padding: 10px;
    color: #fff;
  }

  .quick-bar .col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .quick-video .panel-heading,
  .quick-news .panel-heading,
  .quick-calendar .panel-heading {
    border-bottom: none;
  }

  .quick-video .panel-heading {
    background: rgba(255, 129, 0, 0.7);
  }

  .quick-news .panel-heading {
    background: rgba(42, 111, 171, 0.7);
  }

  .quick-calendar .panel-heading {
    background: rgba(189, 71, 71, 0.7);
  }

  .quick-video .panel-title,
  .quick-news .panel-title,
  .quick-calendar .panel-title {
    color: #fff;
    opacity: initial;
    font-weight: bolder;
    background: transparent;
  }

  .call-to-action {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .call-to-action .newsletter-input {
    width: 70%;
  }

  .call-to-action .newsletter-submit {
    width: 140px;
    margin-left: 10px;
  }

  /*home main styles*/

  .tiny-container {
      width: 640px;
  }

  .file-icon {
    width: 84px;
    height: 106px;
  }

  .file-icon::after {
    bottom: 16px;
    left: 20px;
    font-size: 36px;
  }

  .file-icon::before {
    border-width: 14px;
  }

  .margin-section-top,
  .margin-section-bottom {
    margin: 80px 0;
  }

  .docs-item,
  .multimedia,
  .special-content,
  .es-info-description {
    margin-bottom: 80px;
  }

  .news-title,
  .es-info-title {
    margin-bottom: 60px;
  }

  .main-header,
  .news-item,
  .es-info-thumb {
    margin-bottom: 40px;
  }

  .docs-img,
  .news-thumb {
    margin-right: 30px;
  }

  /*footer styles*/

  .contact-title {
    font-weight: bolder;
    margin-bottom: 60px;
  }

  .contact-social-icons {
    margin-top: 28px;
  }

  .form-group > .contact-input {
    width: 49%;
    margin-right: 10px;
  }

  .form-control.contact-input-name {
    float: left;
    width: 49%;
  }

  .form-control.contact-input-email {
    float: right;
    width: 49%;
  }

  .contact-submit {
    width: 30%;
    height: 42px;
  }

  .footer-container {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .footer-info {
    padding-top: 36px;
    padding-bottom: 36px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .collapsing {
    position: relative;
    /*height: auto;*/
    overflow: visible;
    /*-webkit-transition-timing-function: none;
         -o-transition-timing-function: none;
            transition-timing-function: none;
    -webkit-transition-duration: none;
         -o-transition-duration: none;
            transition-duration: none;
    -webkit-transition-property: none;
         -o-transition-property: none;
            transition-property: none;*/
  }

  .navbar-brand > img {
    height: 100px;
  }

  .blue-bar.tiny .navbar-brand > img {
    height: 80px;
  }

  .nav>li {
    font-size: 12px;
  }

  .navbar-nav {
      margin: 14px 0px 0px 0px;
  }

  .blue-bar.tiny .navbar-nav {
      margin: 14px 0px 0px 0px;
  }

  /*single styles ---------------------*/

  h2.single-title {
    font-size: 36px;
  }

  small.single-excerpt {
    font-size: 18px;
  }

  p.single-entry {
    font-size: 16px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .main-header {
    min-height: 720px;
  }

  .navbar-brand > img {
    height: 120px;
  }

  .blue-bar.tiny .navbar-brand > img {
    height: 100px;
  }

  .nav>li {
    font-size: 14px;
  }

  .main-container {
    width: 990px;
  }

}
