/*
	Theme Name: esconvention
	Theme URI:
	Description: ES Convention & Visitors Bureau
	Version: 0.1
	Author: Buzz
	Author URI: http://agenciabuzz.me

	License: GPLv2
*/

@charset "utf-8";

/*webfont import*/

@font-face {
    font-family: 'grand_hotelregular';
    src: url('fonts/grandhotel-regular-webfont.eot');
    src: url('fonts/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/grandhotel-regular-webfont.woff2') format('woff2'),
         url('fonts/grandhotel-regular-webfont.woff') format('woff'),
         url('fonts/grandhotel-regular-webfont.ttf') format('truetype'),
         url('fonts/grandhotel-regular-webfont.svg#grand_hotelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('fonts/Roboto-Regular-webfont.eot');
  src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('fonts/Roboto-Bold-webfont.eot');
  src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Bold-webfont.woff') format('woff'),
  url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
  url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*reset styles*/

/*general styles*/

body {
  padding-top: 28px;
  font-family: 'robotoregular';
  padding-bottom: 70px !important;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  margin-top: 30px;
}

.alert-success {
  color: #00467f;
  background-color: #c7d2e4;
  border-color: #c7d2e4;
}

.theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error {
  border-right: 4px solid rgb(196, 18, 48);
  border-bottom: none;
}

.wpcf7-form label.error {
  display: none !important;
}

.footer-contact .ajax-loader {
  margin-left: 10px !important;
  text-align: left !important;
  width: 32px;
  display: none;
}

/*typography*/

/*mobile first start*/

  /*header styles ---------------------*/

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.black-bar {
  background: #000;
  height: 48px;
}

.black-bar.tiny {
  height: 36px;
}

.black-bar li {
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.black-bar li:last-child {
  padding-left: 5px;
}

.black-bar.tiny li {
  padding-top: 4px;
}

.fa-lg {
  font-size: 1.33333333em;
  transition: height 200ms;
}

.black-bar.tiny .fa-lg {
  font-size: 1em;
}

.black-bar img {
  height: 30px;
}

.black-bar.tiny img {
  height: 24px;
  transition: height 200ms;
}

.search-form > .search-input, .search-submit {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  height: 30px;
  box-sizing: border-box;
  transition: height 100ms;
}

.black-bar.tiny .search-form > .search-input,
.black-bar.tiny .search-form > .search-submit {
  height: 24px;
  font-size: 13px;
}

.search-input {
  width: 105px;
  margin-right: -3px;
}

.search-submit {
  margin-left: -2px;
}

.main-header {
  min-height: 240px;
  max-width: 100%;
}

.blue-bar {
  min-height: 52px;
  background: rgba(0, 70, 127, .7);
  color: #fff;
  top: 48px;
  transition: height 300ms;
}

.blue-bar.tiny {
  top: 36px;
  min-height: 40px;
}

.navbar-nav {
  margin: 36px 0px 16px -20px;
  transition: margin 300ms;
}

.blue-bar.tiny .navbar-nav {
  margin: 0px 0px 16px -20px;
}

.navbar-brand {
  padding: 0px 15px;
}

.navbar-brand > img {
  height: 90px;
  transition: height 200ms;
}

.main-nav-collapse {
  overflow: hidden;
}

.blue-bar.tiny .navbar-brand > img {
  height: 50px;
}

.blue-bar li > a {
  color: #fff;
  line-height: 0;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blue-bar li > a:hover,
.blue-bar li > a:focus {
  background: none;
}

.navbar-toggle {
  margin-top: 6px;
  margin-right: 10px;
  margin-bottom: 6px;
}

.navbar-toggle .icon-bar {
  background: #fff;
  width: 24px;
  height: 3px;
}

.nav>li {
  padding-top: 14px;
}

.header-title {
  font-family: 'grand_hotelregular';
  color: #fff;
  padding-top: 108px;
  font-size: 36px;
  text-shadow: 2px 2px 8px #000000;
}

.quick-bar {
  bottom: 100px;
}

.mfp-wrap {
  z-index: 100043 !important;
}

.mctb-bar {
  background: transparent !important;
}

#mailchimp-top-bar.mctb-big .mctb-close {
  padding: 12px 16px !important;
  font-size: 18px !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  opacity: .3;
  -webkit-opacity: .3;
  background: rgba(0, 70, 127, .5);
}

.mctb-response {
  top: 230px !important;
  line-height: 0 !important;
  color: #ffeb00 !important;
}

.call-to-action {
  background: #042848;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.call-to-action label,
.mctb-big label {
  font-weight: normal;
  font-size: 14px !important;
  display: block !important;
}

.call-to-action .form-group {
  margin-bottom: 5px;
}

#mailchimp-top-bar.mctb-big input,
.call-to-action .form-control,
.form-control.contact-submit {
  border-radius: 6px;
}

.call-to-action .newsletter-input {
  width: 100%;
  color: #E3E3E3;
  border: none;
  font-weight: bolder;
}

.call-to-action .newsletter-submit,
.contact-submit,
.mctb-button {
  width: 100%;
  background: #00B050;
  color: #fff;
  border: none;
  font-weight: bolder;
}

#mailchimp-top-bar .mctb-button,
#mailchimp-top-bar .mctb-email,
#mailchimp-top-bar input,
#mailchimp-top-bar input[type=email],
#mailchimp-top-bar input[type=text],
.call-to-action .newsletter-input,
.newsletter-submit,
.mctb-button {
  height: 42px !important;
  margin-top: 5px;
}

#mailchimp-top-bar.mctb-big input,
#mailchimp-top-bar.mctb-big label {
  font-size: 14px !important;
}

#mailchimp-top-bar input, #mailchimp-top-bar input[type=email],
#mailchimp-top-bar input[type=text] {
  color: #000;
}

  /*single styles*/

.single-excerpt {
  display: block;
  line-height: 1.3;
  margin-top: 20px;
}

  /*home main styles ---------------------*/

.docs-title {
  line-height: 0;
  margin-top: 8px;
}

/*! fileicon.css v1.0.0 | MIT License | github.com/picturepan2/fileicon.css */
/* fileicon.basic */
.file-icon {
  font-family: FontAwesome;
  font-weight: 300;
  display: block;
  width: 64px;
  height: 84px;
  background: #018fef;
  position: relative;
  border-radius: 2px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

.file-icon::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom-left-radius: 4px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff #fff rgba(255,255,255,.35) rgba(255,255,255,.35);
}

.file-icon::after {
  display: block;
  position: absolute;
  bottom: 13px;
  left: 15px;
  font-size: 28px;
  color: #fff;
  text-transform: lowercase;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.file-icon-docs.file-icon::after {
  content: "\f039";
}

.file-icon-photos.file-icon::after {
  content: "\f030";
}

.file-icon-docs {
  background: #0F9D58;
}

.file-icon-photos {
  background: #D24726;
}

.docs-description {
  display: table-cell;
  padding-top: 10px;
}

.news-item .news-item-text {
  display: table-cell;
}

.news-item a {
  text-decoration: none;
  color: inherit;
}

.news-item h4 {
  margin-top: 0;
}

.multimedia {
  background: #EBEBE9;
  padding-top: 40px;
  padding-bottom: 20px;
}

.multimedia-btn {
  margin-top: 40px;
  margin-bottom: 20px;
}

.multimedia-btn a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.multimedia-btn span {
  background: #73766B;
  padding: 15px 15px;
  font-size: 14px;
}

.margin-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.news-title,
.es-info-description {
  margin-bottom: 40px;
}

.main-header,
.docs-item,
.news-item,
.special-content-img,
.es-info-title,
.es-info-thumb {
  margin-bottom: 20px;
}

.docs-img,
.news-thumb {
  margin-right: 20px;
}

.embed-map iframe {
  border: 0;
  margin: 0;
  padding: 0;
}

.embed-overlay {
  background:transparent;
  position:relative;
  width:100%;
  height:260px;
  top:260px;
  margin-top:-260px;
}

  /*footer styles*/

.footer-contact {
  background: #485985;
  color: #fff;
}

.footer-container, .footer-info {
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-control {
  border-radius: 2px;
}

.contact-title {
  font-weight: bolder;
  margin-bottom: 20px;
}

.contact-info {
  line-height: 2;
}

.contact-social-icons {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #485985;
}

.contact-social-icons > li {
  padding-right: 2px;
  padding-left: 2px;
}

.contact-form {
  margin-bottom: 10px;
}

.contact-input-name,
.contact-input-email {
  float: none;
  width: 100%;
}

.contact-submit {
  width: 40%;
  float: left;
}

.footer-credit {
  background: #161827;
  color: #fff;
}

/*back-to-top*/

#gmo_go_top {
  background: #d4d4d4;
  padding: 4px 6px;
  line-height: 1.1;
  border-radius: 4px;
}

/*plugins styles subscribed*/


  /*jetpack share buttons*/

  .sd-social-icon .sd-content ul li[class*='share-'] a,
  .sd-social-icon .sd-content ul li[class*='share-'] a:hover,
  .sd-social-icon .sd-content ul li[class*='share-'] div.option a {
  	border-radius: 10% !important;
  	-webkit-border-radius: 10% !important;
  }

/*mobile first end ----------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /*header styles*/

  .navbar-nav {
    margin: 14px 10px;
  }

  .black-bar li:last-child {
    padding-left: 40px;
  }

  .navbar-brand > img {
    height: 80px;
  }

  .blue-bar.tiny .navbar-brand > img {
    height: 60px;
  }

  .main-nav-collapse {
    overflow: visible !important;
  }

  .main-header {
    min-height: 640px;
  }

  .nav>li {
    padding-top: 0px;
  }

  .nav>li::after {
    content: " |";
  }

  .header-title {
    color: #fff;
    padding-top: 72px;
    font-size: 56px;
  }

  /*quick-bar start*/

  .quick-bar .panel {
    margin-bottom: 0;
    border-radius: 0;
    background: transparent;
    border: none;
  }

  .quick-bar .panel-title {
    font-size: 14px;
  }

  .quick-bar .panel-heading {
    padding: 10px 6px;
    border-radius: 0;
  }

  .quick-bar .panel-body {
    background: rgba(0, 0, 1, 0.6);
    padding: 6px;
    color: #fff;
    height: 232px;
  }

  .quick-bar .col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .quick-video .panel-heading,
  .quick-news .panel-heading,
  .quick-calendar .panel-heading {
    border-bottom: none;
  }

  .quick-video .panel-heading {
    background: rgba(255, 129, 0, 0.7);
  }

  .quick-news .panel-heading {
    background: rgba(42, 111, 171, 0.7);
  }

  .quick-news .panel-body ul {
    list-style: none;
    font-size: 11px;
    padding: 0px 4px 4px 6px;
  }

  .quick-news .panel-body li {
    padding-bottom: 5px;
  }

  .quick-news .panel-body a {
    text-decoration: none;
    color: #fff;
  }

  .quick-calendar .panel-heading {
    background: rgba(189, 71, 71, 0.7);
  }

  .quick-video .panel-title,
  .quick-news .panel-title,
  .quick-calendar .panel-title {
    color: #fff;
    opacity: initial;
    font-weight: bolder;
    background: transparent;
  }


  /*quick bar end*/

  .call-to-action .newsletter-submit {
    width: 140px;
    margin-left: 10px;
  }

  /*home main styles*/

  .tiny-container {
      width: 680px;
  }

  .file-icon {
    width: 84px;
    height: 106px;
  }

  .file-icon::after {
    bottom: 16px;
    left: 20px;
    font-size: 36px;
  }

  .file-icon::before {
    border-width: 14px;
  }

  .multimedia-btn span {
    padding: 15px 40px;
    font-size: 18px;
  }

  .docs-item,
  .multimedia,
  .special-content,
  .es-info-description {
    margin-bottom: 80px;
  }

  .news-title,
  .es-info-title {
    margin-bottom: 60px;
  }

  .main-header,
  .news-item,
  .es-info-thumb {
    margin-bottom: 40px;
  }

  .docs-img,
  .news-thumb {
    margin-right: 30px;
  }

  /*footer styles*/

  .contact-title {
    font-weight: bolder;
    margin-bottom: 60px;
  }

  .contact-social-icons {
    margin-top: 28px;
  }

  .form-group > .contact-input {
    width: 49%;
    margin-right: 10px;
  }

  .form-control.contact-input-name {
    float: left;
    -webkit-float: left;
    width: 49%;
  }

  .form-control.contact-input-email {
    float: right;
    width: 49%;
  }

  .contact-submit {
    width: 30%;
    float: left;
  }

  .footer-container {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .footer-info {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  /*plugins styles subscribed*/

  /*event calendar*/

  .simcal-align-right,
  .post-edit-link {
    display: none;
  }

  .simcal-default-calendar-grid>table {
    background: rgba(189, 71, 71, 0.6);
  }

  .simcal-default-calendar-grid .simcal-calendar-head .simcal-nav {
    padding: 5px 0 2px 0 !important;
  }

  .simcal-default-calendar-grid .simcal-day-number {
    padding: 1px 4px 1px !important;
    font-size: 11px;
  }

  .simcal-nav.simcal-current h3 {
    font-size: 14px;
    font-weight: bolder;
  }

  .simcal-week-day {
    font-size: 12px;
  }

  .simcal-default-calendar-grid .simcal-no-events {
    min-height: 14px !important;
  }

  .simcal-default-calendar-grid .simcal-events-dots {
    line-height: .7 !important;
    margin: 0 !important;
  }

  .qtip {
    z-index: 150001 !important;
  }

  /* quick bar - mailchimpt top-bar */

  #mailchimp-top-bar.mctb-big .mctb-bar {
    padding: 0px !important;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .navbar-brand > img {
    height: 100px;
  }

  .blue-bar.tiny .navbar-brand > img {
    height: 80px;
  }

  .nav>li {
    font-size: 12px;
  }

  .navbar-nav {
    margin: 14px 0px 0px 0px;
  }

  .blue-bar.tiny .navbar-nav {
    margin: 14px 0px 0px 0px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .main-header {
    min-height: 720px;
  }

  .navbar-brand > img {
    height: 120px;
  }

  .blue-bar.tiny .navbar-brand > img {
    height: 100px;
  }

  .nav>li {
    font-size: 14px;
  }

  .main-container {
    width: 990px;
  }

}

@media (max-width: 767px) {

  .mctb-bar .quick-bar {
    display: none;
  }

  #mailchimp-top-bar.mctb-big .mctb-bar {
    padding: 0px 0px !important;
  }

  .mctb-bar .call-to-action {
    padding: 10px;
  }

}
